@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes wiggle {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
  }

  .wiggle {
    animation: wiggle 0.2s linear infinite;
  }

  .myoutline {
    transition: outline 2s;
  }